
@{
    ViewBag.Title = "FormResult";
}



<style>
    h2 {
        color: mediumseagreen;
        text-align: center;
    }
</style>

<br/>
<br/>
<h2>Thank you, @ViewBag.Name for Volunteering to be a part of our Training program. This is amazing and we greatly appreciate your participation. </h2>
<br />
<div class="container">
    <div class="card">
        <div class="card-body">
            <p>We as Land of the Living will reach out to you and discuss your steps going forth. </p>
            <br />
            <br />

            </div>
        </div>
    </div>

